<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="WuiAlertsApp.Android">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="21" />
	<application android:label="WuiAlertsApp.Android" android:theme="@style/Theme.WuiAlertsApp" android:icon="@drawable/check2x">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyBY3cye878pOscv8jSJx5RA8OYBVgcemkU" />
	</application>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
</manifest>